@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "dark-pink";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(14% 0.005 285.823);
  --color-base-200: oklch(14% 0.005 285.823);
  --color-base-300: oklch(14% 0.005 285.823);
  --color-base-content: oklch(100% 0 0);
  --color-primary: oklch(14% 0.005 285.823);
  --color-primary-content: oklch(0.66 0.2881912271390405 338.90055210660404);
  --color-secondary: oklch(13% 0.028 261.692);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(82% 0.189 84.429);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(12% 0.042 264.695);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-zen-dots);
  --font-sans: var(--font-lexend);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

.text-shadow{
  text-shadow: 0 0 1rem #f600cb;
}

